@page "/appusers/create"
@using Microsoft.EntityFrameworkCore
@using TaskRecordingSystem.Models
@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<TaskRecordingSystem.Components.Pages.Authentication.CreateUserForm SubmitText="Create" OnUserCreated="@HandleUserCreated" />

<div>
    <a href="/appusers">Back to List</a>
</div>

@code {
    private void HandleUserCreated()
    {

        NavigationManager.NavigateTo("/appusers");
    }
}
