@page "/appusers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TaskRecordingSystem.Models
@implements IAsyncDisposable
@inject IDbContextFactory<AppDbContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="appusers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="Users.AsQueryable()" TGridItem="AppUser">
    <PropertyColumn Property="appuser => appuser.FirstName" />
    <PropertyColumn Property="appuser => appuser.Surname" />
    <PropertyColumn Property="appuser => appuser.Email" />
    <TemplateColumn Title="Company" Context="appuser">
        @((appuser.Company != null) ? $"{appuser.Company.Name}" : "")
    </TemplateColumn>

    <TemplateColumn Context="appuser">
        <a href="@($"appusers/edit?id={appuser.Id}")">Edit</a> |
        <a href="@($"appusers/details?id={appuser.Id}")">Details</a> |
        <a href="@($"appusers/delete?id={appuser.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    private List<AppUser> Users = new();

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        Users = await context.Users.Include(t => t.Company).ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
