@page "/register"
@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Register</h3>

<CreateUserForm SubmitText="Register" OnUserCreated="@HandleUserCreated" />

<p class="mt-3">Already have an account? <a href="/login">Login here</a>.</p>

@code {
    private void HandleUserCreated()
    {

        NavigationManager.NavigateTo("/login");
    }
}