@page "/companies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TaskRecordingSystem.Models
@implements IAsyncDisposable
@inject IDbContextFactory<AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="companies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Companies">
    <PropertyColumn Property="company => company.Name" />
    <PropertyColumn Property="company => company.Description" />

    <TemplateColumn Context="company">
        <a href="@($"companies/edit?id={company.Id}")">Edit</a> |
        <a href="@($"companies/details?id={company.Id}")">Details</a> |
        <a href="@($"companies/delete?id={company.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
